{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row my-4 align-items-center">
        <div class="col-md-6">
            <div class="product-img-container">
                <img src="{{ object.image.url }}" class="img-fluid" alt="a picture {{ object.name }}">
            </div>
        </div>
        <div class="col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ object.name }}</li>
                <li class="list-group-item">{{ object.num_reviews }}</li>
                <li class="list-group-item">Price: ₹{{ object.price }}</li>
                <li class="list-group-item">{{ object.description }}</li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: ₹{{ object.price }}</li>
                <li class="list-group-item">{{ object.count_in_stock }}</li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">Quantity:</div>
                        <div class="col">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>--select--</option>
                                {% for stock in countInStock %}
                                    <option value="{{stock}}">{{stock}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-grid gap-2">
                    {% include 'cart/update_cart.html' with product=object cart=cart %}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h1>COMMENTS AND REVIEWS SECTION</h1>
    </div>
</div>
{% endblock content %}