{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row my-5">
        {% for prod in object_list %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src={{ prod.image.url }} class="rounded card-img" alt="a picture of {{ prod.name }}">
                    <div class="card-body">
                    <p class="card-text">{{ prod.name }}</p>
                    <p class="card-price">{{ prod.price }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}