{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row my-4 align-items-center">
        <div class="col-md-6">
            <div class="product-img-container">
                <img src="{{ object.image.url }}" class="img-fluid" alt="a picture {{ object.name }}">
            </div>
        </div>
        <div class="col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ object.name }}</li>
                <li class="list-group-item">{{ object.num_reviews }}</li>
                <li class="list-group-item">Price: ₹{{ object.price }}</li>
                <li class="list-group-item">{{ object.description }}</li>
              </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: ₹{{ object.price }}</li>
                <li class="list-group-item">{{ object.count_in_stock }}</li>
                <li class="list-group-item">Quantity: </li>
                <li class="list-group-item d-grid gap-2">
                    <button class="btn btn-success">Add to Cart</button>
                </li>
              </ul>
        </div>
    </div>
    <div class="row">
        <h1>COMMENTS AND REVIEWS SECTION</h1>
    </div>
</div>
{% endblock content %}